.dashboard {
  min-height: 100vh;
  padding: 2em 3.5em;

  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top input {
  padding: 0.8em 1em;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 25em;
  margin-right: 3em;
}

.top input:focus {
  outline: none;
}

.bell {
  cursor: pointer;
}

.titles {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.titles h1 {
  color: var(--main-text);
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: -2px;
}

.titles p {
  color: var(--secondary-text);
  letter-spacing: 1px;
}

.cards {
  display: flex;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.main-grid {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5em;
}

.calendar-container {
  grid-column: span 8;

  border: solid 1px var(--border);
  background-color: white;

  border-radius: 8px;
  padding: 1.5em;
}

.right-info {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.right-info>* {
  flex: 1;
}

.upcoming-events {
  border: solid 1px var(--border);
  background-color: white;

  border-radius: 8px;
}

.tasks-reminders {
  border: solid 1px var(--border);
  background-color: white;

  border-radius: 8px;
}
