nav {
  border-right: solid 1px var(--border);
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 1.5em 1.0em;
  background-color: white;

  justify-content: space-between;


  color: var(--main-text);
}

nav h1 {
  color: var(--main-text);
  user-select: none;
  cursor: pointer;
  padding: 0 0.5em;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 2px 0;
  padding: 0.8em 1em;
  letter-spacing: 0.3px;

  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  font-weight: 410;
}

nav li:hover {
  background-color: #DCE1E361;
}

nav li p {
  margin-left: 1em;
}

nav .user-card {
  display: flex;
  align-items: center;
  padding: 0.8em 0.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}


nav .user-card img {
  background-color: var(--secondary-text);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

nav .username {
  font-weight: 410;
  font-size: 0.8rem;
}

nav .email {
  font-weight: 300;
  font-size: 0.6rem;
  opacity: 0.8;
}

nav a {
  text-decoration: none;
  color: inherit;
}
