/* COLORS */

:root {
  /* Backgrounds */
  --main-background: #F8F6F1;
  --card-background: #FEFDF9;
  --white-background: #FFFFFF;

  /* Text */
  --main-text: #19313B;
  --secondary-text: #718086;
  --accent-text: #607F8A;
  --disabled-text: #F8F6F1;

  /* UI */
  --border: #DDD9D0;
  --disabled-background: #B0B5B6;
  --selected-background: #D5DFE3;

  /* Soft accents */
  --sage-background: #DCE6DF;
  --blue-background: #DCE7EE;
  --blush-background: #EFE0DD;
  --sand-background: #EAE4D5;
}
