.toolbar-title {
  color: var(--main-text);
  font-size: 1.75rem;
}

.calendar-buttons {
  border-radius: 8px;
  color: var(--secondary-text);
  cursor: pointer;
  font-weight: 500;
}

.day-cells {
  border: 1px solid var(--border);
}
